# Dependencies
node_modules/
.pnp
.pnp.js

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
geo_s/media/

# Node.js / Next.js
.next/
out/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
venv/
.venv/
env/
ENV/

# Testing
coverage/
.nyc_output/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
docker-compose.override.yml
.docker-sync/


# Backend
Backend/__pycache__/
Backend/**/*.pyc
Backend/staticfiles/
Backend/static/
Backend/media/
Backend/.env
Backend/db.sqlite3
Backend/celerybeat-schedule
Backend/celerybeat.pid

# Frontend
Frontend/node_modules/
Frontend/.next/
Frontend/out/
Frontend/build/
Frontend/.env*
Frontend/.vercel
Frontend/*.tsbuildinfo
Frontend/next-env.d.ts
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
Frontend/.pnpm-debug.log*